@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-serif-main: 'Libre Baskerville', serif;
  --font-sans-main: 'Source Sans 3', sans-serif;
}

@theme inline {
  /* --font-geist-sans: var(--font-geist-sans); */
  /* --font-geist-mono: var(--font-geist-mono); */
}

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans-main);
  margin: 0;
  padding: 0;
}